
/* ---------------------------------- title --------------------------------- */

#first {
    animation: title_color 1s forwards;
}
#box {
    animation: title_color 1s forwards;
}

.text1 {
    animation: title_text_anim 2s 1s forwards;
    margin-top: -100px;
}
.text2 {
    animation: title_text_anim 2s 2s forwards;
    margin-top: -100px;
}

#viewBtn:hover {
    color: #2a333d;
    background: white;
    font-weight: bolder;
}

#viewBtn {
    animation: title_btn_anim 2s 3s forwards;
    margin-top: 100px;
}


/* ---------------------------------- navi ---------------------------------- */
.fix {
    position:fixed;
    animation: down 0.5s ease;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav_text:hover  {
    transition: all 0.9s;
    color: rgb(223, 11, 135);
}



/* -------------------------------------------------------------------------- */
/*                                  keyframes                                 */
/* -------------------------------------------------------------------------- */


/* ---------------------------------- title --------------------------------- */
@keyframes title_color { /* 접속 시 배경색 */
    from {
        background-color: rgb(0, 0, 0);
    }
    to {
        background-color: #2a333d;
    }
}

@keyframes title_text_anim {    /* 접속시 글자 나옴 */
    0% {
        margin-top: -100px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes title_btn_anim { /* 접속 시 버튼 나옴 */
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: 0;
    }
}



 /* ---------------------------------- navi ---------------------------------- */
 @keyframes down {
    0%{
      transform: translateY(-50px)
    }
    100%{
      transform: translateY(0px)
    }
  }