body { /* 빈 공간 채우기 */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden; overflow-y: auto; /* 가로 스크롤 없애기 */
    
  }


/* --------------------------------------------------- HOME -----------------------------------------*/
#first {
    width: 100%;
    height: 1000px;
    background-color: #2a333d;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#box {
    width: 500px;
    height: 150px;
    background-color: #2a333d;
    
}

#text {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    /* 텍스트 드래그, 선택 금지 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#viewBtn {
    position: relative;
    left: 125px;
    top: 40px;
    width: 50%;
    height: 60px;
    font-size: 30px;
    border: white solid 3px;
    /*background-color: #444d56;*/
    
    color: white;
    border-color: white white white white; /* 테두리 상 우 하 좌*/
    background: transparent; /* transparent : 투명 */
    cursor: pointer; /* 마우스 손모양으로 만들기 */
}



/* -------------------------------------- header -------------------------------------- */

#header {
    width: 100%;
    height: 50px;
    background-color: #061425;
    padding: 25px 0 20px 80px;
    border-bottom: springgreen solid 8px;
    
}

#header > * {
    float: left;
    font-size: 30px;
    color: white;
    background-color: #061425;
    padding-right: 80px;
}


/* -------------------------------------- ABOUT -------------------------------------- */

#text_title {
    font-size: 60px;
    font-weight: bolder;
    color: rgb(39, 39, 39);
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#about_bottomBar {
    
    text-align: center;
    width: 500px;
    margin: auto;
    border-bottom: rgb(39, 39, 39) solid 10px;
}

#info_and_skill {
    margin: auto;
    width: 1500px;
    background-color: thistle;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#my_info {
    background-color: teal;
    height: 700px;
    display: grid;
    grid-template-rows: 5fr 3fr;
}

#status {
    background-color: yellowgreen;
    height: 700px;
}

#me {
    background-color: thistle;
    width: 400px;
    height: 400px;
    margin: auto;
}

#info {
    background-color: tomato;
}



/* -------------------------------------- PROJECTS -------------------------------------- */

#project {
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 1500px;
    height: 1000px;
}

#project :first-child {
    background-color: wheat;
}

#project :nth-child(2) {
    background-color: yellowgreen;
}
#project :nth-child(3) {
    background-color: aquamarine;
}
#project :nth-child(4) {
    background-color: darkcyan;
}

/* -------------------------------------- CONNECT -------------------------------------- */

#shape_top {
    width: 100%;
    height: 500px;
    background: linear-gradient(-55deg, #f3f5f0 80%, #dfe8eb 20%); /* 대각선으로 div 색칠하기*/
}

#shape_bottom {
    width: 100%;
    height: 500px;
    background: linear-gradient(-125deg, #f3f5f0 80%, #dfe8eb 20%); /* 대각선으로 div 색칠하기*/
}

#send_box {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #dfe8eb;
    z-index: 50;
    top: -800px;
    margin: auto;
    display: grid;
    padding: 20px;
    row-gap: 20px;
    grid-template-rows: 1fr 1fr 400px 30px;
}

#send_box > * {
    border: none;
    font-size: 25px;
    padding-left: 10px;
    background-color: white;
}

#submit {
    position: relative;
    background: transparent;
    margin: auto;
    width: 200px;
    top: -5px;
    font-size: 30px;
    border: black solid 3px;
    cursor: pointer;
}




















/* 입체 사각형 패턴
background-color: #555;
background-image: linear-gradient(30deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(150deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(30deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(150deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888), linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888);
background-position: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
background-size: 50px 100px;
*/
/* 삼각형 만들기
width: 0;
height: 0;
border-top: 100px #2a333d solid;
border-right: 1000px  transparent;
border-bottom: 100px  transparent;
border-left: 100px solid transparent;
*/