/* --------------------------------- Import --------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); 
/* font-family: 'Staatliches', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Staatliches&display=swap');
/* font-family: 'Dancing Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Righteous&family=Staatliches&display=swap');
/* font-family: 'Righteous', cursive; */



/* ----------------------------------- ETC ---------------------------------- */

body { /* 빈 공간 채우기 */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden; overflow-y: auto; /* 가로 스크롤 없애기 */
  }

  .contents {
    width: 100%;
  }

  


/* --------------------------------------------------- HOME -----------------------------------------*/
#first {
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#box {
    width: 500px;
    height: 150px;
    background-color: #2a333d;
    
}

#titlebox {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    overflow: hidden ;
    /* 텍스트 드래그, 선택 금지 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#textbox1 {
    overflow: hidden;
    position: absolute;
    width: 500px;
    height: 55px;
}
#textbox2 {
    overflow: hidden;
    position: absolute;
    width: 500px;
    height: 55px;
    margin-top: 55px;
}

#btnbox {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 62px;
    top: 130px;
    left: 125px;
}



#viewBtn {
    position: relative;
    /* left: 125px;
    top: 130px; */
    width: 250px;
    height: 60px;
    font-size: 30px;
    border: white solid 3px;
    /*background-color: #444d56;*/
    
    
    color: white;
    border-color: white white white white; /* 테두리 상 우 하 좌*/
    background: transparent; /* transparent : 투명 */
    cursor: pointer; /* 마우스 손모양으로 만들기 */
    transition: all 0.9s;
}



/* -------------------------------------- NAVI -------------------------------------- */

nav {
    width: 100%;
    height: 30px;
    background-color: #061425;
    padding: 10px 0 20px 80px;
    border-bottom: rgb(14, 255, 126) solid 6px;
    
}

nav > * {
    float: left;
    font-size: 30px;
    font-weight: 500;
    color: white;
    background-color: #061425;
    padding-right: 80px;
    letter-spacing: 2px; /* 글자 간 간격 */
    cursor: pointer;
}

.nav_text {
    transition: all 0.9s;
}


/* ------------------------------- Page title ------------------------------- */

#text_title {
    font-size: 60px;
    font-weight: bolder;
    color: rgb(39, 39, 39);
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#about_bottomBar {
    text-align: center;
    width: 500px;
    margin: auto;
    border-bottom: rgb(39, 39, 39) solid 10px;
}

/* -------------------------------------- ABOUT -------------------------------------- */

#info_box {
    width: 1050px;
    height: 650px;
    float: left;
}

#skill_box {
    width: 750px;
    height: 650px;
    margin-left: 1060px;
}

#introduce {
    position: absolute;
    background-color: rgb(237, 243, 243);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    border: rgb(2, 104, 129) 5px solid;
    left: 100px;
    /* box-shadow: rgb(4, 129, 98) 0 0 10px; */
    z-index: 30;
}


#me {
    position: relative;
    background-image: url(../assets/me.jpg);
    background-repeat: no-repeat; /* 이미지 반복 안되게 */
    background-size: contain;
    width: 350px;
    height: 466px;
    top: 80px;
    left: 350px;
    border-radius: 10px;
    border: black 5px solid;
    /* box-shadow: rgb(0, 0, 0) 0 0 10px; */
    z-index: 50;
}

#info {
    position: relative;
    background-color: rgb(253, 237, 237);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    border: rgb(110, 1, 1) 5px solid;
    top: -340px;
    left: 600px;
    /* box-shadow: crimson 0 0 10px; */
    z-index: 30;
}

#skill {
    
    position: relative;
    background-color: white;
    width: 600px;
    height: 600px;
    left: 140px;
    top: 80px;
    border-radius: 10px;
    border: black 5px solid;
    
}
#skills {
    position: absolute;
    
    width: 200px;
    height: 680px;
    border-radius: 10px;
    border: black 5px solid;
    
}

#skill_header {
    width: 200px;
    height:  80px;
    background-color: white;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.pie-chart {
    position: relative;
    display:inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transition: 0.3s;
    left: 100px;
    top: 40px;
  }
  
  span.center{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:300px; height:300px;
    border-radius: 50%;
    text-align:center; line-height: 300px;
    font-size:50px;
    transform: translate(-50%, -50%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #skill_name {
    position: relative;
    width: 400px;
    height: 120px;
    top: 50px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    white-space:nowrap;
    font-family: 'Righteous', cursive;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    z-index: 3;
}

#text_list {
    transition: all 0.9s;
  }

#list {
    padding-top: 5px;
    font-size: 22px;
    font-family: 'Righteous', cursive;
    color: black;
   
}

.lists {
   padding-bottom: 55px;
}

.list_name {
    transition: all 0.2s;
    cursor: pointer;
}



/* -------------------------------------- PROJECTS -------------------------------------- */

#project {
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 1500px;
    height: 1000px;
}

#project :first-child {
    background-color: wheat;
}

#project :nth-child(2) {
    background-color: yellowgreen;
}
#project :nth-child(3) {
    background-color: aquamarine;
}
#project :nth-child(4) {
    background-color: darkcyan;
}




/* -------------------------------------- CONNECT -------------------------------------- */

#shape_top {
    width: 100%;
    height: 500px;
    background: linear-gradient(-55deg, #f5f7f8 80%, #dfe8eb 20%); /* 대각선으로 div 색칠하기*/
}

#shape_bottom {
    width: 100%;
    height: 500px;
    background: linear-gradient(-125deg, #f5f7f8 80%, #dfe8eb 20%); /* 대각선으로 div 색칠하기*/
}

#send_box {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #dfe8eb;
    z-index: 50;
    top: -800px;
    margin: auto;
    display: grid;
    padding: 20px;
    row-gap: 20px;
    grid-template-rows: 1fr 1fr 400px 30px;
}

#send_box > * {
    border: none;
    font-size: 25px;
    padding-left: 10px;
    background-color: white;
}

#submit {
    position: relative;
    background: transparent;
    margin: auto;
    width: 200px;
    top: -5px;
    font-size: 30px;
    border: black solid 3px;
    cursor: pointer;
}
















/* 입체 사각형 패턴
background-color: #555;
background-image: linear-gradient(30deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(150deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(30deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(150deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888), linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888);
background-position: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
background-size: 50px 100px;
*/
/* 삼각형 만들기
width: 0;
height: 0;
border-top: 100px #2a333d solid;
border-right: 1000px  transparent;
border-bottom: 100px  transparent;
border-left: 100px solid transparent;


div에 가운데부분에 텍스트 위치 시키기
display: flex;
justify-content: center;
align-items: center;

 텍스트 드래그, 선택 금지 
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
*/