.pie-chart {
    position: relative;
    display:inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.3s;
  }
  span.center{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:200px; height:200px;
    border-radius: 50%;
    text-align:center; line-height: 200px;
    font-size:30px;
     transform: translate(-50%, -50%);
  }